<%= form_for(@sitesetting) do |f| %>
  <% if @sitesetting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitesetting.errors.count, "error") %> prohibited this sitesetting from being saved:</h2>

      <ul>
      <% @sitesetting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meta_key %><br>
    <%= f.text_field :meta_key %>
  </div>
  <div class="field">
    <%= f.label :meta_value %><br>
    <%= f.text_field :meta_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
