<section class="artst-ban">
            <div class="ovlay-ban"></div>
            <div class="container">
                <div class="row">
                    <div class="art-ainf-ban">
                        <div class="art-prf-img">
                            <img src="<%=@user.avatar.url(:middle) %>" />
                            <h1><%=@user.first_name %><%=@user.last_name %></h1>
                            <p><%=@user.biography %></p>
                            <p><i class="fa fa-pad-right fa-map-marker"></i><%=@user.city %>, <%=@user.country %></p>
                            <p>
                                <ul>
                                    <li><i class="fa fa-pad-right fa-users"></i>8,656 Followers</li>
                                    <li><i class="fa fa-pad-right fa-thumbs-up"></i>25,335 Likes</li>
                                    <li><i class="fa fa-pad-right fa-eye"></i>569,957 Views</li>
                                </ul>
                            </p>
                            <p><a href="mailto:<%=@user.email %>"><%=@user.email %></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        
        <section class="tabs-all-img-hldr inner">
            <div class="container">
                <div class="row">
                    <div class="tbs-itm">
                        <ul>
                            <li><a href="artist.html">Portfolio</a></li>
                            <li class="active"><a href="artist_about.html">About</a></li>
                            <li><a href="following.html">Following<span class="fl-lk">(20)</span></a></li>
                            <li><a href="#">Likes<span class="fl-lk">(215)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

             <div class="artist-details-pg">
                <div class="col-md-6 col-md-offset-3 det-art-hr">
                    <h3>Summary</h3>
                    <%  if @user.about_me.present? %><p><%=@user.about_me %></p><% end %>
                    <div class="art-cont-in">
                        <ul>
                            <li><a href="mailto:<%=@user.email %>"><i class="fa fa-envelope"></i></a></li>
                           <%  if @user.facebook_url.present? %> <li><a href="<%=@user.facebook_url %>"><i class="fa fa-facebook-square"></i></a></li><% end %>
                           <%  if @user.twitter_url.present? %> <li><a href="<%=@user.twitter_url %>"><i class="fa fa-twitter-square"></i></a></li><% end %>
                        </ul>
                    </div>
                    
                </div>
             </div>
        </section>